/* 
 * Stylesheet for environments created by numenvs.py filter.
 */ 

.numenv {
  font-size:1.4rem;
  width:60%;
  margin-top: 1.4rem;
  display: block;
}

.numenv ul, .numenv ol {
  width:90%;
}

.numenv p {
  display:inline;
  
}

.numenv p em {
  font-style:normal;
}

.numenv .title {
  font-weight:bold;
  margin-right:10px;
}

.numenv.EmphBox {

  background-color: #FDF6E3;
  font-style: italic;
  padding: 10px 50px;
  width:50%;
}

.numenv.EmphBox .title {
  display: none;
}

.numenv.Proof {
  border-left: 0.3rem solid #eee;
  padding-left:2%;
  width:58%;
  margin-bottom: 30px;
}

.numenv.Proof p {
  font-style:normal;

}

.numenv.Proof .title {
  font-weight:normal;
  font-style:italic;
  border: 0px;
  padding: 0px;
}

.numenv.fullwidth, .numenv.fullwidth table {
  width: 100%;
}

.numenv.fullwidth .title {
  display: none;
}

@media (max-width: 860px) {
  .numenv {
    width: 100%;
  }
  .numenv.Proof {
    width: 98%;
  }
  .numenv.Summary {
    width: 90%;
  }
}

.numenv.Algorithm {
  padding: 5px;
  border: 2px solid #ddd;
  border-top-left-radius: 10px;
}

.numenv.Algorithm .title {
  font-family:monospace;
}

.numenv .title {
  border: none;
  color: hotpink;
  box-shadow: none;
}

.numenv.Definition, .numenv.Theorem, .numenv.Remark{  
  color: #555555;
  background:#EDEDED;
  margin-top: 0.5px;
  
  
}
.numenv.Definition .title, .numenv.Theorem .title, .numenv.Remark .title {
  width:99%;
  height:40px;
  background: #2E86C1 ;
  color: white;
  font-size: 1.2em;
  padding-top: 10px;
  padding-left: 1%;
  border: none;
}


.numenv.Definition p, .numenv.Theorem p, .numenv.Remark p{
  padding-left: 10px;
/*  color: red;*/
}
